{% extends 'mall/base_full.html' %}

{% block head_title %}
  Edit Post - GameLibrary
{% endblock %}

{% block main_area %}
  <h1>Edit Post</h1>
  <hr>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      {{form}}
      <tr>
        <th><label for="id_genre_str">Genre:</label></th>
        <td><input type="text" name="genre_str" id="id_genre_str" value="{{genre_str_default}}"></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-primary float-right">Submit</button>
  </form>
{% endblock %}