{% extends 'mall/base.html' %}

{% block head_title %}
  Store
{% endblock %}

{% block main_area %}
  <!-- header -->
  <h1>Store
    {% if category %}
      - <span class="badge badge-secondary">{{category}}</span>
    {% endif %}
    {% if genre %}
      - <span class="badge badge-secondary">{{genre}} ({{genre.post_set.count}})</span>
    {% endif %}
  </h1>

  <!-- new Post -->
  {% if user.is_authenticated %}
    {% if user.is_superuser or user.is_staff %}
      <a href="/mall/create_post/" role="button" class="btn btn-outline-info btn-sm float-left ml-2">
        <i class="fas fa-plus"></i> New
      </a>
    {% endif %}
  {% endif %}

  <!-- search Box -->
  <div class="input-group ml-auto mr-2" style="width:230px">
    <input id="search-input" class="form-control" type="text" placeholder="search" aria-describedby="button-search">
    <button class="btn btn-primary" id="button-search" type="button" onclick="searchPost()"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>

  <script>
    function searchPost() {}
  </script>

  <!-- post -->
  <div class="row row-cols-2 row-cols-lg-3 m-1">
    {% if post_list.exists %}
      {% for p in post_list %}
        <div class="col p-1 card-list">
          <div class="card h-100" id="post-{{p.pk}}">
            <div class="card-header p-2" style="background:white;">
              <a href="{{p.get_absolute_url}}" class="btn btn-sm btn-link py-0 px-2">
                더보기
              </a>
              <span class="float-right">
                {% if p.category %}
                  <a href="{{p.category.get_absolute_url}}" class="badge badge-pill badge-secondary"> {{p.category}}</a>
                {% else %}
                  <a href="/mall/category/no_category/" class="badge badge-pill badge-secondary">미분류</a>
                {% endif %}
              </span>
            </div>
            <div style="transform: rotate(0);">
              <!-- head_image -->
              <div style="position: relative">
                <img src="{{p.head_image.url}}" class="card-img-top" alt="{{p.title}}">
                <span class="float-right bg-primary text-white p-1" style="position: absolute; right: 0px; bottom: 0px;">
                  {% if p.price == 0 %}
                    무료
                  {% else %}
                    {{p.price}}₩
                  {% endif %}
                </span>
              </div>
              <!-- title -->
              <div class="card-body">
                <h5 class="card-title">{{p.title}}</h5>
                {% if p.subtitle %}
                  <h6 class="card-subtitle text-muted mb-2">{{p.subtitle}}</h6>
                {% endif %}
                {% if p.hook_text %}
                  <p class="small text-muted text-truncate mb-0">{{p.hook_text}}</p>
                {% endif %}
              </div>
              <a href="{{p.get_absolute_url}}" class="stretched-link"></a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <!-- Pagination -->
  <nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
      <!-- previous -->
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}
      <!-- pageNum -->
      {% for index in pagelist %}
        {% if index == page_obj.number %}
          <li class="page-item active"><a class="page-link" href="?page={{index}}">{{index}}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{index}}">{{index}}</a></li>
        {% endif %}
      {% endfor %}
      <!-- older -->
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}