<!-- category widget -->
<div class="card mb-4" id="category-card">
  <div class="card-header">Categories</div>
  <div class="card-body">
    <div class="row">
      <ul class="list-unstyled mb-0">
        <!-- for c in categories -->
          <li><a class="text-dark" href="#"></a></li>
        <!-- endfor -->
        <li><a class="text-dark" href="#">미분류</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- studio widget -->
<div class="card mb-4" id="stuido-card">
  <div class="card-header">Studios</div>
  <div class="card-body">
    <div class="row">
      <ul class="list-unstyled mb-0">
        <!-- for s in studios -->
          <li><a class="text-dark" href="#" ></a></li>
        <!-- endfor -->
      </ul>
    </div>
  </div>
</div>