<!-- category widget -->
<div class="card mb-4" id="category-card">
  <div class="card-header">Categories</div>
  <div class="card-body">
    <div class="row">
      <ul class="list-unstyled mb-0">
        {% for c in categories %}
          <li><a class="text-dark" href="{{c.get_absolute_url}}">{{c}} ({{c.post_set.count}})</a></li>
        {% endfor %}
        <li><a class="text-dark" href="/mall/category/no_category/">미분류 ({{no_category_post_count}})</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- studio widget -->
<div class="card mb-4" id="stuido-card">
  <div class="card-header">Studios</div>
  <div class="card-body">
    <div class="row">
      <ul class="list-unstyled mb-0">
        <!-- for s in studios -->
          <li><a class="text-dark" href="#" ></a></li>
        <!-- endfor -->
      </ul>
    </div>
  </div>
</div>